<html ng-app="series">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/padrao.css"/>
    <title>LAB 2 SI 1</title>
    <script src="angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/seriesController.js"></script>
    <script src="js/service/seriesService.js"></script>
    <script src="js/service/listService.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="bootstrap.min.js"></script>
  </head>

  <body ng-controller="seriesController">
    <!--controle de abas, entre a home que contém a pesquisa, as séries que quero assistir e as que estou assistindo-->
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a data-toggle="pill" href="#home">Pesquisar</a></li>
        <li><a data-toggle="pill" href="#assistir">Quero assistir</a></li>
        <li><a data-toggle="pill" href="#assistido">Minhas Séries</a></li>
      </ul>
    </div>
    <!--valores de cada aba-->
    <div class="tab-content">
      <!--pesquisa de filmes-->
      <div id="home" class="tab-pane fade in active col-sm-6">
          <h1>Pesquisar</h1>
          <input class="form-control" type="text" ng-model="nome"  placeholder="digite o nome da serie" style="width:300px" />
          <button class="btn btn-primary" ng-click="getNome(nome)">Pesquisar</button>
          <h3></h3>
                <div ng-if="series.length > 0">
                    <div ng-repeat="promise in series" ng-init="parentIndex=$index">
                      <div ng-repeat="x in promise">
                        <!--caso tenha encontrado alguma série com nome relacionado-->
                        <div ng-if="x != 'N/A'" ng-init="childremIndex=$parent.$index">
                          <div ng-if="x.Poster != 'N/A'" >
                            <img class="thumbnail grow serie" align="top-left" src="{{x.Poster}}" data-toggle="modal" data-target="#myModal{{childremIndex + 5 * parentIndex}}"></img>
                          </div>
                          <div ng-if="x.Poster == 'N/A'">
                            <img class="thumbnail grow serie" align="top-left" src="noimage.jpg" data-toggle="modal" data-target="#myModal{{childremIndex + 5 * parentIndex}}"></img>
                          </div>
                          <!--abrir o modal e exibir a opções.-->
                          <div id="myModal{{childremIndex + 5 * parentIndex}}" class="modal fade">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title">{{x.Title}}</h4>
                                  <img  class="image" src="{{x.Poster}}"></img>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!--opções de adicionar na watch, na watched ou fechar o modal.-->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-Success" style="vertical-align:middle" name="button" ng-click="assistidos(x.imdbID)">Adicionar as minhas séries</button>
                                  <button type="button" class="btn btn-Success" style="vertical-align:middle" name="button" ng-click="queroAssistir(x.imdbID)">Adicionar a WatchList</button>
                                  <button type="button" class="btn btn-danger" style="vertical-align:middle" data-dismiss="modal" ng-click="alteraValor()">Fechar</button>
                                  <div class="modal-dialog" align="center" ng-if="!adicionou">
                                    <span>Série já adicionada</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--caso não tenha econtrado nenhuma série relacionada-->
                        <div ng-if="x == 'N/A'">
                          <h3>Serie não encontrada :(</h3>
                        </div>
                      </div>
                    </div>
              </div>
        </div>
        <!--Exibir as séries da watchList-->
        <div id="assistir" class="tab-pane fade col-sm-6">
          <div>
            <h1>Séries Assistidas</h1>
            <!--caso já tenha adicionado alguma série-->
            <div ng-if="watchList.length > 0">
              <div ng-repeat="row in showWatchList" ng-init="parent=$index">
                <div ng-repeat="promise in row" ng-init="childrem=$index">
                  <div ng-if="promise.Poster != 'N/A'">
                    <img class="thumbnail grow" src="{{promise.Poster}}" width="150px"  align="top-left" height="150px" data-toggle="modal" data-target="#faModal{{childrem + 5 * parent}}"></img>
                  </div>
                  <!--série sem imagem-->
                  <div ng-if="promise.Poster == 'N/A'">
                    <img class="thumbnail grow" src="noimage.jpg" width="150px" height="150px" align="top-left"  data-toggle="modal" data-target="#faModal{{childrem + 5 * parent}}"></img>
                  </div>
                  <!--Ao clicar na imagem, abre o modal da série, com a opção de enviar para a watchedList-->
                  <div id="faModal{{childrem + 5 * parent}}" class="modal fade">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h2 class="modal-title">{{promise.Title}}</h4>
                          <img class="image" align="top-right" src="{{promise.Poster}}"></img>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <p ng-bind="promise.Plot"></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" style="vertical-align:middle" data-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
            <h3 ng-if="watchList.length == 0"> Você ainda não adicionou nenhuma série! :) </h3>
          </div>
        </div>
        <!--Exibir as séries que está assistindo-->
        <div id="assistido" class="tab-pane fade">
          <div class="col-md-3">
            <h1>Séries</h1>
              <!--caso já tenha adicionado alguma série-->
              <div ng-if="watchedList.length > 0">
                <div class="row" ng-repeat="x in showWatchedList" ng-init="childrem=$index">
                  <div ng-repeat="promise in x" ng-init="parent=$index">
                    <img class="threed" src="{{promise.Poster}}" width="150px" height="150px" data-toggle="modal" data-target="#miModal{{childrem + 5 * parent}}"></img>
                    <div id="miModal{{childrem + 5 * parent}}" class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!--exibe a opção de colocar uma nota, adicionar o último ep assistido-->
                          <button type="button" class="close" align="top-right" data-dismiss="modal">&times;</button>
                          <div class="modal-header">
                            <h2 class="modal-title">{{promise.Title}}</h4>
                            <img class="image" align="top-right" src="{{promise.Poster}}"></img>
                            <select class="form-control" ng-model="temporada" style="width:300px" ng-options="temp.num for temp in promise.temporadas">
                                <option value="">Digite a temporada da série</option>
                            </select>
                            <input class="form-control" type="button reset" ng-model="episodio"  placeholder="digite o número do episódio assistido" style="width:300px" onfocus="this.value='';" />
                            <button class="btn btn-primary" type="button" name="button" ng-click="temporada.episodios.push(episodio)">Adicionar Episódio</button>
                            <h4>{{temporada}}</h4>
                          </div>
                          <div class="modal-body">
                            <p ng-bind="promise.Plot"></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" style="vertical-align:middle" data-dismiss="modal">Fechar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--ao clicar na imagem, abre o modal.-->
                </div>
              </div>
              <!--Caso ainda não tenha adicionado nenhuma série-->
              <h3 ng-if="watchedList.length == 0"> Você ainda não está assistindo nenhuma série :) </h3>
          </div>
        </div>
      </div>
  </body>
</html>
